{% extends "base.html" %}


{% block head %}

    <h1>Ricerca per data</h1>
    Ricerca il numero totale di casi COVID-19, divisi per regione.

{% endblock %}


{% block body %}
    <form action ="/ricerca" method="get">
        <p>Scegli una data:</p>
        <p> <input type="date", id="date", name="date", min="2020-02-24", required />
            <script>
                    document.getElementById('date').max = new Date().toISOString().substring(0, 10);
            </script>
        </p>
        <p><input type="submit", value="Cerca" /></p>
    </form>
{% endblock %}