{% extends "base.html" %}


{% block body %}
    <div class ="wrapper">
        <h1>Dati COVID-19 in Italia</h1>
        <p>Ricerca i casi accertati di COVID-19 nelle regioni italiane alla data di interesse.</p>


        <form action ="/ricerca" method="get">
            Scegli una data:
            <input type="date" id="date" name="date" min="2020-02-24" required>
                <script>
                        document.getElementById('date').max = new Date().toISOString().substring(0, 10);
                </script>
            <div class="container-button">
                <input class="button" type="submit" value="Cerca">
            </div>
        </form>
    </div>
{% endblock %}